* {
    font-family: "Lucida Console", Monaco, monospace;
    color: #333;
    margin: 0;
}

[role=main]{
    height: 88vh;
}

.mr-main {
    justify-content: center;
}

header {
    height: 7vh;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-row {
    display: flex;
    justify-content: center;
}


.split-choice {
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}

.dialog-large {
    width: 50vmin;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    border: darkslategray solid 2px;
    padding: 2vmin;
    margin: 2vmin;
    background-color: white;
}

.dialog-large>* {
    margin: 2vmin;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}

.input {
    height: 30px;
    border-radius: 0;
}

.input-text {
    border: none;
    border-bottom: black solid 1px;
}

.input-val {
    border: none;
    border-bottom: black solid 1px;
    width: 87%;
}

button.input {
    border: black solid 1px;
    background-color: lightgrey;
    border-radius: 2px;
}

.title {
    font-size: 5vh;
    margin: 0;
}

.feedback {
    display: flex;
    justify-content: center;
    width: 50vmin;
    max-width: 300px;
    padding: 2vmin;
    margin: 2vmin;
}

.error {
    background-color: tomato;
}

.half-width {
    width: 40%;
}

.split-choice {
    flex-direction: row;
    justify-content: space-between;
    display: flex;
}

.color-box {
    display: flex;
    justify-content: space-between;
}

.checkbox-hidden {
    display: none;
}

.input-checkbox {
    width: 5vmin;
    height: 5vmin;
}

.checkbox-color-label {
    background-color: #fff;
    width: 4vmin;
    height: 4vmin;
    margin: 0.5vmin;
}

.checkbox-black {
    background-color: #000;
}
.checkbox-white {
    background-color: #ff8;
}
.checkbox-red {
    background-color: #f33;
}
.checkbox-green {
    background-color: #0f0;
}
.checkbox-blue {
    background-color: #00f;
}
.checkbox-colorless {
    background-color: #666;
}

.checkbox-black input[type=checkbox]:checked + label {
    background: #000;
}
.checkbox-white input[type=checkbox]:checked + label {
    background: #ff8;
}
.checkbox-red input[type=checkbox]:checked + label {
    background: #f33;
}
.checkbox-green input[type=checkbox]:checked + label {
    background: #0f0;
}
.checkbox-blue input[type=checkbox]:checked + label {
    background: #00f;
}
.checkbox-colorless input[type=checkbox]:checked + label {
    background: #666;
}


.deck-list {
    padding-left: 0;
    list-style: none;
}

.deck-list-item {
    margin: 5px;
    padding: 1vmin;
    border: lightgray solid 2px;
}

.mana-box.used {
    width: 5vmin;
    height: 5vmin;
    border: darkslategray solid 1px;
    border-radius: 1px; 
}

.mana-box.dim {
    background-color: #fff;
    width: 4vmin;
    height: 4vmin;
    margin: 0.5vmin;
}


.black {
    background-color: #000;
}
.white {
    background-color: #ff8;
}
.red {
    background-color: #f33;
}
.green {
    background-color: #0f0;
}
.blue {
    background-color: #00f;
}
.colorless {
    background-color: #666;
}

.black.dim {
    background-color: #888;
}
.white.dim {
    background-color: #ff8;
}
.red.dim {
    background-color: #f99;
}
.green.dim {
    background-color: #8f8;
}
.blue.dim {
    background-color: #88f;
}
.colorless.dim {
    background-color: #bbb;
}


